/* global */

@font-family: 'Open Sans', sans-serif;

@font-family: 'Roboto', sans-serif;

body {
    background-color: white;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 1.8rem;
}

h3 p {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}
p{
    font-size: 0.9rem;
}
a {
    color: black;
    text-decoration: none;
}
li a:hover{
    color:black;
    text-decoration: underline;
}

/* header */
header {
    background-image: url("media/plates-header.jpg");
    background-size: cover;
    height: 300px;
    flex-direction: column;
}

nav {
    display: flex;
    min-height: 10vh;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    background-color: white;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img {
    width: 6em;
    height: 6em;
    text-align: baseline;
}

#nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding-left: 20px;

}

#cart {
    text-align: end;
    margin-right: 1em;
}

header div {
    width: 50%;
    margin: auto;
    background-color: #393935;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    height: 50px;
    border-bottom: 2px solid grey;
}

header div p {
    margin-top: 0;
    width: 90%;
    text-align: center;
    
}
ul {
  list-style: none;
}


section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2.6rem;
    margin: auto;
    width: 640px;
}

section article {
    width: 200px;
    margin-top: 50px;
    text-align: center;
}

section article img {
    width: 220px;
    height: 200px;
    object-fit: cover;

}


 .container {
    position: relative;  
    width:100%;
    
}

}
.container:hover .box2{
   opacity: 1;
  filter:grayscale(100%);
}
.container img:hover {
  display:block;
  
}
 .details button {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 14px 10px;
    border: none;
    cursor: pointer;
    
    text-align: center;
  opacity:0;
} 
 .details:hover button {   
  opacity: 1;
  
}
 .shop button {
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 14px 10px;
    border: none;
    cursor: pointer;
    
    text-align: center;
  opacity:0;
} 
 .shop:hover button {   
  opacity: 1;
}
.box1 {
    grid-column: 1;
    grid-row: 1;
}

.box2 {
    grid-column: 2;
    grid-row: 1;
}

.box3 {
    grid-column: 3;
    grid-row: 1;
}

.box4 {
    grid-column: 1;
    grid-row: 2;
}

.box5 {
    grid-column: 2;
    grid-row: 2;
}

.box6 {
    grid-column: 3;
    grid-row: 2;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}
.col-2{
     flex-basis: 50%;
     min-width: 300px;
     text-align: center;

}
.col-2 img{
    max-width: 100%;
    padding: 10px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0;
    
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: ;
}
.header{
    background: radial-gradient();
}



.col-3 h5{
    text-align: center;
    margin:auto;
}
.box{
    margin-left: 10px;

}
.cart{
    width: 150px;
    height: 34px;
    font-size: 10px;
    color:white;
    background-color: #1d1d20;
    border: none;
    margin-left: 5px;

}
#number{
    width: 2.8em;
    height: 33px;
    background-color: #eeeeee;
    color: #858585;
    border: none;
    margin-right: 0px;
}
.product-qty-btn{
    background-color:#dadada;
    color:#7d7d7d;
    width: 2em;
    border: none;
   padding-left: 0px;
   
}
.col-8{
    display: inline-block;
    justify-content: right;
    margin-top: 0px;
    padding-top: 0px;
}
.col-8 ul{
    padding-left: 1px;
    margin-bottom: 6px;
}

.color{
    color:#acaead;
}
hr{
    background-color: #f3f3f3;
    border:none;
    height:2px;
}
.outer-div{
    padding: 30px;
    text-align: center;

}
fieldset{
    border: none;
    width: 100%;
    margin:0px;
    padding: 0px;
    background-color:#f6f6f6 ;
    text-align: center;
} 

#center {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    height: 610px;
    margin: 10% 10%;
}

.thumbnails {
    margin-top: 100px;
    margin-left: 60px;
    max-width: 250px;
    height: 110px;
}
.article {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: left;
    height: 229px;
}
.article>p {
    margin-top: 100px;
    font-size: 13px;
    line-height: 30px;
}
#total {
    margin-top: 109px;
    margin-left: 50%;
    border: none;
    background-color: #f5f5f5f5;
    max-width: 50px;
    height: 48px;
    text-align: center;
}
.price {
    margin-top: 109px;
    margin-left: 72px;
}
.delete {
    font-size: 30px;
    margin-top: 100px;
    margin-left: 72px;
    font-family: monospace;
}
#checkout {
    height: 100px;
    text-align: right;
    border: none;
}
input {
    font-size: 15px;
    background-color: black;
    color: white;
    height: 50px;
    margin-right: 30px;
    margin-top: 10px;
    border:none;
}
.wrapper {
    display: grid;
    grid-template-columns: 180px 4fr 2fr 2fr;
    height: 30px;
  }